{
  "tabWidth": 4,
  "overrides": [
    {
      "files": [
        "*.html",
        "*.yaml",
        "*.yml"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "singleQuote": true
}