/* Website designed by @blu on the Hack Club Slack */
:root{
    --navbar-bg: #B875FF;
    --nav-text: #ffffff;
    --background: #FDE09D;
    --background-alt: #ffcfa2;
    --text-n-footer: #5D5031;
    --button-text: #C289FF;
    --box-hover: #FFC289;
    --dark-box: #dea876;
    --dark-box-hover: #be8f64;
}

* {
    box-sizing: border-box;
    color: var(--text-n-footer);
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 520;
}

h, h1, h3, h4, h5, h6, p, p2, li, footer {
    padding-left: 2.5em;
    padding-right: 2.5em;
}


.preahvihear-regular {
    font-family: "Preahvihear", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*
Navbar code based from: dhyans.xyz -(modified)
*/
.navbar {
    padding: 0;
    margin: 0;
    background-color: var(--navbar-bg);
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: "Preahvihear", sans-serif;
    font-weight: 700;
    width: 100%;
}

.navbar__container {
    background-color:var(--navbar-bg);
    display: flex;
    justify-content: flex-end;
    height: 5em;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5%;
}

.navbar__menu {
    padding: 0;
    background-color:var(--navbar-bg);
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    padding: 0;
    background-color:var(--navbar-bg);
    height: 5em;
    margin: 0;
}

.navbar__links {
    background-color:var(--navbar-bg);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1.5rem;
    height: 100%;
}

.navbar__btn {
    background-color: lightskyblue;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0 1.5rem;
    width: 100%;
}

.navbar__links:hover {
    color: yellow;
    transition-duration: 0.5s;
}

.navbar__btn:hover {
    color: black;
    background-color: white;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
}

/* Banner Code From Boba Drops And/Or Hack Club Brand Website */
.banner {
    top: -20px;
    left: 10px;
    z-index: 1001;
}

.banner img {
    height: 5em;
}

.banner:hover img {
    animation: wave-flag 0.5s linear infinite alternate;
}

@media (prefers-reduced-motion: reduce) {
    .banner:hover img {
        transition: 0.1875s cubic-bezier(0.375, 0, 0.675, 1) transform;
        transform-origin: top left;
    }
}

@keyframes wave-flag {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

/* swirl background */
#circle {
    height: 38rem;
    width: 55rem;
    background-color:var(--navbar-bg);
    border-radius: 50%;
    position: sticky;
    margin-top: -21rem;
}

div.rotate {
    transform: rotate(-25deg);
    margin-top: 20px;
    margin-left: 245px;
    font-size: 45px;
    font-weight: bold;
    color: white;
}

div.rotate:hover {
    color: #5D5031;
    transition-duration: 0.5s;
}

#swirl-logo {
    background: none;
    width: 25rem;
    height: 25rem;
    margin-top: 2rem;
    margin-bottom: -8rem;
    justify-content: center;
}

h1{
    font-size: 3.25rem;
}

h2{
    font-size: 2.5rem;
    padding-left: 1rem;
}

h3{
    font-size: 1.75rem;
}

button{
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 20px;
    padding: 0em 2em;
}

button:hover {
    background-color: var(--box-hover);
    font-size: 21px;
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

p{
    font-size: 20px;
}

div.inspiration{
    font-size: 21px;
}

div.inspiration a {
}

/* make lists prettier!! */

list.req {
    margin-left: 200px;
    list-style-type: decimal;
    background-color:var(--navbar-bg);
}

div.list {
    margin-left: 50px;
    font-size: 18px;
}

div.list_indent {
    margin-left: 60px;
}

img.swirl-req-img {
    float: right;
    width: 15rem;
    height: 31rem;
    transform: none;
    position: relative;
    top: -6.25rem;
    margin-right: 8rem;
    margin-bottom: -6.25rem;

}

hr{
    border-color: sandybrown;
    border-radius: 20px;
    border-style: dotted;
    border-width: 10px;"
}

.sprinkle{

}

a:hover{
    color: black;
    transition-duration: 0.75s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.675);
}

.sprinkles__img{
    opacity: 65%;
    height: 5rem;
    width: 2rem;
    background-color: var(--box-hover);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    overflow: hidden
}

.sprinkles__img:hover{
    opacity: 1;
}

div.main-content{
    margin-left: 2.5em;
    margin-right: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: var(--background);
    border-radius: 20px;
}

footer{
    background-color: #5D5031;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    position: relative;
}

footer a {
    color: #ffffff;
}

::selection {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
}

/* flexbox for gallery on gallery.html */
#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 2rem 0;
    background: #FFFACC;
    padding: 5rem;
}

.gallery-item {
    padding: 1 rem auto;
    background: var(--dark-box);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    margin: 1 auto;
}

.gallery-item:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
    background-color: var(--dark-box-hover);
}

.gallery-item a:hover {
    transform: none;
    transition: none;
}



.gallery-item button {
    color: #ffd5ae;
    background-color: #aa815b;
}


.gallery-item button:hover {

    font-color: #483422;
}

/* Mobile Media Queries Resizing*/
@media (max-width: 700px) {
    .navbar {
        height: 3em;
        font-size: 1em;
    }

    .navbar__links {
        display: none;
        flex-direction: column;
        background-color: var(--navbar-bg);
        width: 100%;
        text-align: center;
        padding: 1em 0;
    }

    .navbar__links.active {
        display: flex;
    }

    .navbar__links .navbar__btn {
        padding: 0 0.1rem;
    }

    .banner img {
        width: 1em;
    }

    #circle {
        height: 18rem;
        width: 25rem;
        margin-top: -16rem;
    }

    #swirl-logo {
        width: 10rem;
        height: 10rem;
        margin-top: 1rem;
        margin-bottom: -4rem;
    }

    div.rotate {
        margin-left: 3rem;
        font-size: 1rem;
        padding-left: 2rem;
    }

    h1 {
        font-size: 3rem;
    }

    #main-text {
        font-size: 2rem;
    }

}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
    margin: 2rem 1rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark-box);
    border-radius: 8px;
    padding: 1rem;
    font-size: 1.5rem;
}

.item img {
    width: 100%;
    max-width: 220px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
