/* swirl background */
* {
    z-index: 10;
}

#circle {
    height: 38rem;
    width: 55rem;
    background-color: var(--navbar-bg);
    border-radius: 50%;
    position: sticky;
    margin-top: -18.75rem;
}

#circle_sub {
    height: 25rem;
    width: 31rem;
    background-color: #b875ff;
    border-radius: 50%;
    position: sticky;
    float: right;
    margin-top: -12rem;
    margin-right: -1rem;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
    overflow: clip;
}

#circle2_sub {
    height: 12.5rem;
    width: 25rem;
    background-color: #b875ff;
    border-radius: 50%;
    position: sticky;
    float: right;
    margin-top: -5rem;
    margin-right: -4rem;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
}

#swirlText:hover {
    animation: spin 2s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

div.rotate_sub {
    transform: rotate(-5deg);
    margin-top: 80px;
    font-size: 45px;
    font-weight: bold;
    color: white;
}

iframe {
    width: 60%;
}

div.rotate_sub:hover {
    color: #5d5031;
    transition-duration: 0.5s;
}

@media (max-width: 700px) {
    #circle2_sub {
        height: 12rem;
        width: 15rem;
        padding-left: -5rem;
        margin-bottom: -1rem;
        margin-top: -11rem;
        margin-right: 5rem;
        background-color: transparent;
    }

    #swirlText {
        z-index: 999999;
    }

    iframe {
        width: 95%;
    }

    img.swirl-req-img {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
