<footer>
  <br />
  <img
    src="{{ '/assets/other/stickers/orphmoji-yippee.png' | relative_url }}"
    alt="Orpheus Yippee!"
    style="background: none; width: 50px; margin-bottom: 2px; margin-right: 15px"
  />
  Built &amp; maintained by &nbsp;
  <a href="mailto:dhyan@hackclub.com" target="_blank"> dhyan </a> &nbsp; for
  Hack Club
  <img
    src="{{ '/assets/other/stickers/orphmoji-yippee.png' | relative_url }}"
    alt="Orpheus Yippee!"
    style="background: none; width: 50px; margin-bottom: 2px; margin-left: 20px"
  />
  <img
    src="{{ '/assets/svg/cherry.svg' | relative_url }}"
    alt="Cherry decoration"
    style="
      background: none;
      height: 50px;
      margin-bottom: 2px;
      position: absolute;
      right: 20px;
      top: -49px;
    "
  />
  <br /><br /><br />
</footer>
